//registry.figma.com/npm/66a0e932-cb32-4b6b-afc7-29af42995553/registry/:_authToken=figp_AaOxOClvZhZa1aiZr7hhb1BEZb2ov9Jp5G3U8J5x
@atipicus:registry=https://registry.figma.com/npm/66a0e932-cb32-4b6b-afc7-29af42995553/registry/
