//registry.figma.com/npm/00a95687-fb9b-4d6c-9402-b615375d7e4b/registry/:_authToken=figp_JgNzl9_qz0bqLR2WuandQAIduOsl2IeAEsMvBYyz
@atipicus:registry=https://registry.figma.com/npm/00a95687-fb9b-4d6c-9402-b615375d7e4b/registry/
