//registry.figma.com/npm/00a95687-fb9b-4d6c-9402-b615375d7e4b/registry/:_authToken=figp_9jNLt5dg1CwcROPuKS4Ocl3liWEn4_yTCHtwAhW0
@atipicus:registry=https://registry.figma.com/npm/00a95687-fb9b-4d6c-9402-b615375d7e4b/registry/
